{
  "openapi": "3.1.0",
  "info": {
    "version": "0.0.1",
    "title": "did-web-server API documentation",
    "description": "This is the Open API specification for [did-web-server](https://dws.identinet.io).\n\n# Introduction\n\n**did-web-server** is an HTTP server for managing DID Documents for the\n[did:web](https://w3c-ccg.github.io/did-method-web/) method in a self-sovereign manner. did:web is a straightforward\nDID method that use DNS and HTTP servers to host DID Documents.\n\nUnlike other DID methods, did:web doesn't require a blockchain to store identifier states. It uses an HTTP server,\nwhich is cost effective to operate and leverages established protocols and software libraries.\n\nHowever, traditional HTTP servers are centrally managed and do not allow users to managed hosted documents, making\ndecentralized identifier management challenging. did-web-server addresses this issue by being the first DID-centered\nHTTP server, enabling self-sovereign management for owners of did:web identifiers. It is compatible with existing\nDID resolver implementations and adds support for the create, update and deactivate methods that are left\nunspecified in the [did:web](https://w3c-ccg.github.io/did-method-web/) specification.\n\n# Hosted Offering\n\nidentinet is preparing an enterprise hosted offering of did-web-server for custom domain names. Contact\njan-christoph.ebersbach@identinet.io if you are interested in using this service.\n\nFurthermore, a free to use identity service is being prepared at [id.identinet.io](https://id.identinet.io).\n\n# Self-Hosting\n\n**did-web-server** can be self-hosted on your own infrastructure. Further information is provided in the [docs\nsection](/docs).\n",
    "license": {
      "name": "Proprietary",
      "identifier": "Proprietary"
    },
    "contact": {
      "name": "identinet GmbH",
      "email": "support@identinet.io",
      "url": "https://identinet.io"
    }
  },
  "servers": [
    {
      "url": "https://id.identinet.io",
      "description": "identinet ID service"
    },
    {
      "url": "https://id.localhost:3000",
      "description": "local development server"
    }
  ],
  "paths": {
    "/{id}/did.json": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/ID"
          }
        }
      ],
      "get": {
        "operationId": "resolveDID",
        "summary": "Reslove a DID",
        "description": "Corresponds to the Read (Resolve) method speficied at https://w3c-ccg.github.io/did-method-web/#read-resolve.\n",
        "externalDocs": {
          "description": "did:web method specification",
          "url": "https://w3c-ccg.github.io/did-method-web/#read-resolve"
        },
        "responses": {
          "200": {
            "description": "Returns DID Document.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DIDDoc"
                },
                "examples": {
                  "diddoc": {
                    "summary": "DID Document",
                    "value": {
                      "@context": [
                        "https://www.w3.org/ns/did/v1",
                        "https://w3id.org/security/suites/jws-2020/v1"
                      ],
                      "id": "did:web:example.com",
                      "verificationMethod": [
                        {
                          "id": "did:web:example.com#key-0",
                          "type": "JsonWebKey2020",
                          "controller": "did:web:example.com",
                          "publicKeyJwk": {
                            "kty": "OKP",
                            "crv": "Ed25519",
                            "x": "0-e2i2_Ua1S5HbTYnVB0lj2Z2ytXu2-tYmDFf8f5NjU"
                          }
                        },
                        {
                          "id": "did:web:example.com#key-1",
                          "type": "JsonWebKey2020",
                          "controller": "did:web:example.com",
                          "publicKeyJwk": {
                            "kty": "OKP",
                            "crv": "X25519",
                            "x": "9GXjPGGvmRq9F6Ng5dQQ_s31mfhxrcNZxRGONrmH30k"
                          }
                        },
                        {
                          "id": "did:web:example.com#key-2",
                          "type": "JsonWebKey2020",
                          "controller": "did:web:example.com",
                          "publicKeyJwk": {
                            "kty": "EC",
                            "crv": "P-256",
                            "x": "38M1FDts7Oea7urmseiugGW7tWc3mLpJh6rKe7xINZ8",
                            "y": "nDQW6XZ7b_u2Sy9slofYLlG03sOEoug3I0aAPQ0exs4"
                          }
                        }
                      ],
                      "authentication": [
                        "did:web:example.com#key-0",
                        "did:web:example.com#key-2"
                      ],
                      "assertionMethod": [
                        "did:web:example.com#key-0",
                        "did:web:example.com#key-2"
                      ],
                      "keyAgreement": [
                        "did:web:example.com#key-1",
                        "did:web:example.com#key-2"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - client error."
          },
          "404": {
            "description": "Not Found - client error."
          },
          "500": {
            "description": "Internal Server Error."
          }
        }
      },
      "post": {
        "operationId": "createDID",
        "summary": "Register a DID",
        "description": "Corresponds to the Create (Register) method speficied at https://w3c-ccg.github.io/did-method-web/#create-register.\n",
        "externalDocs": {
          "description": "did:web method specification",
          "url": "https://w3c-ccg.github.io/did-method-web/#create-register"
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifiablePresentation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Identifier created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DIDDoc"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - client error."
          },
          "401": {
            "description": "Unauthorized - client error."
          },
          "404": {
            "description": "Not Found - client error."
          },
          "500": {
            "description": "Internal Server Error."
          }
        }
      },
      "put": {
        "operationId": "updateDID",
        "summary": "Update a DID",
        "description": "Corresponds to the Update method speficied at https://w3c-ccg.github.io/did-method-web/#update.\n",
        "externalDocs": {
          "description": "did:web method specification",
          "url": "https://w3c-ccg.github.io/did-method-web/#update"
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifiablePresentation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Identifier updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DIDDoc"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - client error."
          },
          "401": {
            "description": "Unauthorized - client error."
          },
          "404": {
            "description": "Not Found - client error."
          },
          "500": {
            "description": "Internal Server Error."
          }
        }
      },
      "delete": {
        "operationId": "deactivateDID",
        "summary": "Deactivate a DID",
        "description": "Corresponds to the Deactivate (Revoke) method speficied at https://w3c-ccg.github.io/did-method-web/#deactivate-revoke.\n",
        "externalDocs": {
          "description": "did:web method specification",
          "url": "https://w3c-ccg.github.io/did-method-web/#deactivate-revoke"
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifiablePresentation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Identifier deactivated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DID"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - client error."
          },
          "401": {
            "description": "Unauthorized - client error."
          },
          "404": {
            "description": "Not Found - client error."
          },
          "500": {
            "description": "Internal Server Error."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ID": {
        "type": "string",
        "description": "An identifier.\n",
        "example": "user1"
      },
      "DID": {
        "type": "string",
        "description": "Decentralized Identifier (DID), see https://w3c.github.io/did-core/.\n",
        "examples": {
          "domain": {
            "summary": "Domain DID",
            "value": "did:web:example.com"
          },
          "path": {
            "summary": "DID with path",
            "value": "did:web:example.com:user1"
          }
        }
      },
      "DIDDoc": {
        "type": "object",
        "title": "DID Document",
        "description": "DID Document, see https://w3c.github.io/did-core/.\n",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/DID"
          }
        }
      },
      "VerifiableCredential": {
        "type": "object",
        "description": "W3C Verifiable Credential, see https://w3c.github.io/vc-data-model/.\n",
        "required": [
          "type",
          "credentialSubject",
          "proof"
        ],
        "properties": {
          "type": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": "VerifableCredential"
          },
          "credentialSubject": {
            "$ref": "#/components/schemas/DIDDoc"
          },
          "proof": {
            "type": "object",
            "example": {}
          }
        }
      },
      "VerifiablePresentation": {
        "type": "object",
        "description": "W3C Verifiable Presentation, see https://w3c.github.io/vc-data-model/.\n",
        "required": [
          "type",
          "verifiableCredential",
          "proof"
        ],
        "properties": {
          "type": {
            "type": "string",
            "example": "VerifablePresentation"
          },
          "verifiableCredential": {
            "$ref": "#/components/schemas/VerifiableCredential"
          },
          "proof": {
            "type": "object"
          }
        }
      }
    }
  }
}